# ------------------------------
# Database Configuration
# ------------------------------
DB_HOST=postgres
DB_PORT=5432
DB_USER=user
DB_PASSWORD=pass
DB_NAME=bargo_db

# ------------------------------
# Retry Settings
# ------------------------------
DB_MAX_RETRIES=5

# ------------------------------
# HTTP Ports for Services
# ------------------------------
CONSUMER_WEB_HTTP_PORT=3000
BUSINESS_WEB_HTTP_PORT=3001
CONSUMER_HTTP_PORT=3002
BUSINESS_HTTP_PORT=3003
AUTH_HTTP_PORT=3004

# ------------------------------
# Application Settings
# ------------------------------
JWT_SECRET=GoldenFoxy_KeepOut!_!_xo

# ------------------------------
# Docker Container Defaults
# ------------------------------
POSTGRES_PORT=5432
POSTGRES_USER=${DB_USER}
POSTGRES_PASSWORD=${DB_PASSWORD}
POSTGRES_DB=${DB_NAME}
