# Postgres Configuration
db:
  host: postgres
  port: 5432
  user: user
  password: pass
  database: bargo_db
  max_retries: 5

# HTTP Ports
srv:
  consumers_web_service: 3000
  business_web_service: 3001
  consumer_service: 3002
  business_service: 3003
  auth_service: 3004

# JWT Tokens
app:
  jwt_secret: "GoldenFoxy_KeepOut!_!_xo"
